body{
    background-color: #dcdddc;
}

#login-div{
    /*display: flex;*/
}

#login-card{
    max-width: 300px;
}

#login-div .row{
    margin: 12px auto;
}

#btn-guardar{
    background: transparent;
    border: solid transparent;
}

#menu-icon{
    margin-top: 4px;
    height: 48px;
    width: 48px;
}

.overflow{
    overflow: hidden;
}

.user-item{
    width: 100%;
}